html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
}

main {
    width: 50%;
    background-image: url('../../assets/celler.png');
    background-size: cover;
    color: antiquewhite;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: aqua;
}